/* ===MIXINS=== */
/* line 1, /sites/jstests/jstests/source/stylesheets/_media768.scss */
.wrapper {
  margin: 0 auto;
  width: 728px; }

/* ===HEADER START=== */
/* line 9, /sites/jstests/jstests/source/stylesheets/_media768.scss */
.header .logo {
  float: left; }
/* line 12, /sites/jstests/jstests/source/stylesheets/_media768.scss */
.header .nav {
  position: static;
  display: block !important;
  width: auto; }
/* line 17, /sites/jstests/jstests/source/stylesheets/_media768.scss */
.header .show-nav {
  display: none; }

/* line 22, /sites/jstests/jstests/source/stylesheets/_media768.scss */
.list-primary-nav {
  float: right; }
  /* line 24, /sites/jstests/jstests/source/stylesheets/_media768.scss */
  .list-primary-nav > li {
    display: inline-block; }
  /* line 27, /sites/jstests/jstests/source/stylesheets/_media768.scss */
  .list-primary-nav > li > a {
    border: 0;
    background: none;
    color: #fff; }
  /* line 32, /sites/jstests/jstests/source/stylesheets/_media768.scss */
  .list-primary-nav li {
    position: relative; }
  /* line 35, /sites/jstests/jstests/source/stylesheets/_media768.scss */
  .list-primary-nav li ul {
    position: absolute;
    left: 0;
    z-index: 10;
    display: none;
    text-align: left; }
  /* line 43, /sites/jstests/jstests/source/stylesheets/_media768.scss */
  .list-primary-nav li:hover ul,
  .list-primary-nav li:focus ul {
    display: block; }
  /* line 46, /sites/jstests/jstests/source/stylesheets/_media768.scss */
  .list-primary-nav li li a {
    padding: .75em;
    width: 150px;
    text-decoration: none; }
  /* line 53, /sites/jstests/jstests/source/stylesheets/_media768.scss */
  .list-primary-nav li.active li a,
  .list-primary-nav li li a:hover,
  .list-primary-nav li li a:focus {
    background: #666; }

/* ===FOOTER START=== */
/* line 61, /sites/jstests/jstests/source/stylesheets/_media768.scss */
.list-footer-nav li {
  float: left;
  margin-left: 20px; }
/* line 65, /sites/jstests/jstests/source/stylesheets/_media768.scss */
.list-footer-nav li:first-child {
  margin-left: 0; }
